<body>
	<div class="login-content">
		  <h2> please login in</h2>


		<form action="/imcs-system/login" method="post">
			<div class="login-inputs">
				

				
				<input class="login-input" type="text" id="username" name="username" placeholder="Username">

				<input class="login-input" type="password" id="password" name="password" placeholder="Password">

				<input class="login-input" type="hidden" name="" value="" />

				<button class="login-button" style="width: 100%;" type="submit">Log in</button>
			</div>
		</form>
	</div>
</body>
